Repository pichillilorenzo/flutter_inappwebview, pull requests merged in 2020-08, with the labels that each got.

#462 Use PlatformViewLink widget for Android WebView
  README.md
  android/src/main/AndroidManifest.xml
  example/android/app/src/main/AndroidManifest.xml
  lib/src/in_app_webview.dart
  lib/src/webview_options.dart
Labels: android, documentation, flutter/dart

#465 Upgraded appcompat to 1.2.0-rc-02
  android/build.gradle
Labels: android

#490 Added missing field 'headers' which returned by WebResourceResponse.toMap()
  lib/src/types.dart
Labels: flutter/dart
