Repository pichillilorenzo/flutter_inappwebview, pull requests merged in 2021-01, with the labels that each got.

#658 iOS CookieManager.getCookies - Check that URL has suffix of cookie do…
  ios/Classes/MyCookieManager.swift
Labels: iOS

#634 Add NTLM Auth
  ios/Classes/InAppWebView.swift
Labels: iOS

#645 Fix injectStyleFile name to injectCSSFileFromUrl
  lib/src/in_app_webview_controller.dart
Labels: flutter/dart

#620 Add android media intents on wildcard input accept
  android/src/main/java/com/pichillilorenzo/flutter_inappwebview/InAppWebView/InAppWebViewChromeClient.java
Labels: android

#538 Add ChromeSafariBrowser support for Android 11
  README.md
  android/build.gradle
  android/src/main/AndroidManifest.xml
  android/src/main/java/com/pichillilorenzo/flutter_inappwebview/ChromeSafariBrowserManager.java
  example/android/app/build.gradle
  example/android/build.gradle
  example/android/gradle/wrapper/gradle-wrapper.properties
  lib/src/chrome_safari_browser.dart
Labels: android, documentation, flutter/dart
