Repository pichillilorenzo/flutter_inappwebview, pull requests merged in 2021-02, with the labels that each got.

#668 Update README.md
  README.md
Labels: documentation

#670 fix(iOS): missing implementation of method zoomBy
  ios/Classes/InAppWebViewMethodHandler.swift
Labels: iOS

#671 [mod] Fix all issues relate to long click in Android version 7.0 (#657, #527)
  android/src/main/java/com/pichillilorenzo/flutter_inappwebview/InAppWebView/InAppWebView.java
Labels: android
