Repository pichillilorenzo/flutter_inappwebview, pull requests merged in 2022-04, with the labels that each got.

#828 Fix parsing crash on null value.
  ios/Classes/Options.swift
Labels: iOS

#1095 fix: ApplicationNameForUserAgent is not working in iOS
  ios/Classes/InAppWebView/InAppWebView.swift
Labels: iOS

#868 fix bug when in String[] array come null
  android/src/main/java/com/pichillilorenzo/flutter_inappwebview/in_app_webview/InAppWebViewChromeClient.java
Labels: android

#879 fix: use in NavigationAction request toMap method
  lib/src/types.dart
Labels: flutter/dart

#889 Update Options.swift
  ios/Classes/Options.swift
Labels: iOS

#946 switch android mockserver dependency with okhttp
  android/build.gradle
Labels: android

#991 Adds missing body to URLRequest mapping.
  ios/Classes/Types/URLRequest.swift
Labels: iOS

#1017 fix. Crash happens when HeadlessInAppWebView's dispose function is called in iOS
  ios/Classes/HeadlessInAppWebView/HeadlessInAppWebView.swift
Labels: iOS

#1050 Fix Android Sometimes crash after close webpage and return to platform code.
  android/src/main/java/com/pichillilorenzo/flutter_inappwebview/in_app_webview/InAppWebView.java
Labels: android

#1064 Fixed the unexpected behavior of InAppWebView and HeadlessInAppWebVie…
  lib/src/in_app_webview/headless_in_app_webview.dart
  lib/src/in_app_webview/in_app_webview.dart
Labels: flutter/dart

#1088 WIP - expose content-disposition and content-length from android
  android/src/main/java/com/pichillilorenzo/flutter_inappwebview/in_app_webview/InAppWebView.java
  example/integration_test/webview_flutter_test.dart
  lib/src/in_app_browser/in_app_browser.dart
  lib/src/in_app_webview/headless_in_app_webview.dart
  lib/src/in_app_webview/in_app_webview.dart
  lib/src/in_app_webview/in_app_webview_controller.dart
  lib/src/in_app_webview/webview.dart
Labels: android, flutter/dart

#1093 Fix ios persistance when using sharedCookie
  ios/Classes/InAppWebView/InAppWebView.swift
Labels: iOS

#1109 Fixes zoomBy with floats (iOS)
  ios/Classes/InAppWebViewMethodHandler.swift
Labels: iOS

#1111 Build on and support Android 12 SDK 31
  android/build.gradle
  android/src/main/AndroidManifest.xml
  android/src/main/java/com/pichillilorenzo/flutter_inappwebview/chrome_custom_tabs/ChromeCustomTabsActivity.java
  example/android/app/src/main/AndroidManifest.xml
  example/android/build.gradle
Labels: android

#1123 Fix takeScreenshot Crash on iOS
  ios/Classes/InAppWebView/InAppWebView.swift
Labels: iOS

#1124 Feature. Possibility to disable iOS above keyboard inputAccessoryView
  ios/Classes/InAppWebView/FlutterWebViewController.swift
  ios/Classes/InAppWebView/InAppWebView.swift
  ios/Classes/InAppWebView/InAppWebViewOptions.swift
  lib/src/in_app_webview/ios/in_app_webview_options.dart
Labels: flutter/dart, iOS

#1147 [Android] Explicitly `export` for the receiver defined in AndroidManifest
  android/src/main/AndroidManifest.xml
Labels: android

#1142 add feature decideMediaCapturePermissions on ios15+
  ios/Classes/InAppWebView/InAppWebView.swift
Labels: iOS
