Repository pichillilorenzo/flutter_inappwebview, pull requests merged in 2022-10, with the labels that each got.

#1238 fix: fixed Xcode 14 build error
  ios/Classes/Types/UserScript.swift
Labels: iOS

#1201 [Android] fix leaking `MethodChannel` through anonymous class
  android/src/main/java/com/pichillilorenzo/flutter_inappwebview/ServiceWorkerManager.java
Labels: android

#1233 fix: try to open with Chrome if default browser app does not support custom tabs
  android/src/main/java/com/pichillilorenzo/flutter_inappwebview/chrome_custom_tabs/CustomTabsHelper.java
Labels: android

#1237 fix: Prevent Android java.lang.NullPointerException in InAppWebViewCl…
  android/src/main/java/com/pichillilorenzo/flutter_inappwebview/in_app_webview/InAppWebViewClient.java
Labels: android

#1241 Android - Load client certificate from local storage
  android/src/main/java/com/pichillilorenzo/flutter_inappwebview/Util.java
Labels: android

#1262 fix Theme_AppCompat_Dialog_Alert not found
  android/src/main/java/com/pichillilorenzo/flutter_inappwebview/in_app_webview/InAppWebViewChromeClient.java
Labels: android

#1295 Allow a cookie without a domain to be set on Android
  android/src/main/java/com/pichillilorenzo/flutter_inappwebview/MyCookieManager.java
  ios/Classes/MyCookieManager.swift
  lib/src/cookie_manager.dart
Labels: android, flutter/dart, iOS

#1302 Catch and ignore utf8 format exception in getFavicons()
  lib/src/in_app_webview/in_app_webview_controller.dart
Labels: flutter/dart

#1313 Disable exporting activity definitions for Android
  android/src/main/AndroidManifest.xml
Labels: android

#1319 Add directoryIndex and documentRoot to InAppLocalhostServer option
  lib/src/in_app_localhost_server.dart
Labels: flutter/dart

#1344 fix(ios): invoke onBrowserCreated when viewDidLoad is called with win…
  ios/Classes/InAppBrowser/InAppBrowserWebViewController.swift
Labels: iOS

#1381 Fix missing import for Flutter 2.8.1
  lib/src/chrome_safari_browser/chrome_safari_browser.dart
  lib/src/in_app_browser/in_app_browser.dart
  lib/src/in_app_webview/headless_in_app_webview.dart
  lib/src/in_app_webview/in_app_webview.dart
  lib/src/in_app_webview/in_app_webview_controller.dart
  lib/src/in_app_webview/ios/in_app_webview_controller.dart
  lib/src/pull_to_refresh/pull_to_refresh_controller.dart
  lib/src/types.dart
Labels: android, flutter/dart, iOS, documentation

#1387 Fix hybrid composition laggy
  lib/src/in_app_webview/in_app_webview.dart
Labels: android, flutter/dart

#1395 Exposed "shared" property of HttpServer bind method to support more use-cases.
  lib/src/in_app_localhost_server.dart
Labels: flutter/dart
