Repository pichillilorenzo/flutter_inappwebview, pull requests merged in 2023-11, with the labels that each got.

#1665 feat(ios): optional tradeoff to fix ios input delay
  ios/Classes/InAppWebView/FlutterWebViewFactory.swift
  ios/Classes/SwiftFlutterPlugin.swift
  lib/src/in_app_webview/in_app_webview.dart
Labels: flutter/dart, iOS

#1822 fix cert parsing for ios 12
  ios/Classes/Types/SecCertificate.swift
  macos/Classes/Types/SecCertificate.swift
Labels: iOS

#1677 Fix iOS and macOS Forced unwrap null value HTTPCookie for CookieManager.setCookie
  ios/Classes/MyCookieManager.swift
Labels: android, iOS

#1827 android imm.isAcceptingText() crash fix
  android/src/main/java/com/pichillilorenzo/flutter_inappwebview/webview/in_app_webview/InAppWebView.java
  lib/src/in_app_webview/in_app_webview_controller.dart
Labels: android, flutter/dart

#1772 fix: chrome tab open failed due to chrome process not running
  android/src/main/java/com/pichillilorenzo/flutter_inappwebview/chrome_custom_tabs/ChromeCustomTabsActivity.java
  android/src/main/java/com/pichillilorenzo/flutter_inappwebview/chrome_custom_tabs/CustomTabActivityHelper.java
Labels: android

#1504 Fix no horizontal scroll x for context menu for pages with horizontal…
  android/src/main/java/com/pichillilorenzo/flutter_inappwebview/webview/in_app_webview/InAppWebView.java
Labels: android
