Repository pichillilorenzo/flutter_inappwebview, pull requests merged in 2023-12, with the labels that each got.

#1904 Fixed error in InterceptAjaxRequestJS 'Failed to set responseType property'
  flutter_inappwebview_android/android/src/main/java/com/pichillilorenzo/flutter_inappwebview_android/plugin_scripts_js/InterceptAjaxRequestJS.java
Labels: android

#1930 ⚠️ Fix a couple of iOS warnings
  flutter_inappwebview_ios/ios/Classes/InAppBrowser/InAppBrowserWebViewController.swift
  flutter_inappwebview_ios/ios/Classes/InAppWebView/FlutterWebViewController.swift
  flutter_inappwebview_ios/ios/Classes/InAppWebView/WebMessage/WebMessageChannelChannelDelegate.swift
  flutter_inappwebview_ios/ios/Classes/InAppWebView/WebViewChannelDelegate.swift
  flutter_inappwebview_ios/ios/Classes/PrintJob/PrintJobSettings.swift
Labels: iOS

#1932 💥 Fix crash - remove force unwrapping from dispose method
  flutter_inappwebview_ios/ios/Classes/InAppBrowser/InAppBrowserWebViewController.swift
Labels: iOS

#1933 💥 Fix iPad crash due to missing `sourceView`
  flutter_inappwebview_ios/ios/Classes/InAppBrowser/InAppBrowserManager.swift
Labels: iOS

#1934 Use enum type inference for encoding
  flutter_inappwebview_ios/ios/Classes/InAppBrowser/InAppBrowserWebViewController.swift
  flutter_inappwebview_ios/ios/Classes/InAppWebView/FlutterWebViewController.swift
  flutter_inappwebview_ios/ios/Classes/InAppWebView/InAppWebView.swift
  flutter_inappwebview_macos/macos/Classes/InAppBrowser/InAppBrowserWebViewController.swift
  flutter_inappwebview_macos/macos/Classes/InAppWebView/FlutterWebViewController.swift
  flutter_inappwebview_macos/macos/Classes/InAppWebView/InAppWebView.swift
Labels: iOS

#1935 Remove open default params
  flutter_inappwebview_ios/ios/Classes/InAppBrowser/InAppBrowserManager.swift
Labels: iOS

#1937 Fix typos
  flutter_inappwebview_android/android/src/main/java/com/pichillilorenzo/flutter_inappwebview_android/PlatformUtil.java
  flutter_inappwebview_android/android/src/main/java/com/pichillilorenzo/flutter_inappwebview_android/Util.java
  flutter_inappwebview_android/android/src/main/java/com/pichillilorenzo/flutter_inappwebview_android/content_blocker/ContentBlockerHandler.java
  flutter_inappwebview_android/lib/src/in_app_webview/in_app_webview_controller.dart
  flutter_inappwebview_ios/ios/Classes/InAppBrowser/InAppBrowserWebViewController.swift
  flutter_inappwebview_ios/ios/Classes/InAppWebView/CustomSchemeHandler.swift
  flutter_inappwebview_ios/ios/Classes/InAppWebView/FlutterWebViewController.swift
  flutter_inappwebview_ios/ios/Classes/InAppWebView/InAppWebView.swift
  flutter_inappwebview_ios/ios/Classes/InAppWebView/InAppWebViewManager.swift
  flutter_inappwebview_ios/ios/Classes/PluginScriptsJS/FindTextHighlightJS.swift
  flutter_inappwebview_ios/ios/Classes/Types/URLProtectionSpace.swift
  flutter_inappwebview_ios/ios/Classes/Util.swift
  flutter_inappwebview_ios/lib/src/in_app_webview/in_app_webview_controller.dart
  flutter_inappwebview_macos/lib/src/in_app_webview/in_app_webview_controller.dart
  flutter_inappwebview_macos/macos/Classes/InAppBrowser/InAppBrowserWebViewController.swift
  flutter_inappwebview_macos/macos/Classes/InAppWebView/CustomSchemeHandler.swift
  flutter_inappwebview_macos/macos/Classes/InAppWebView/FlutterWebViewController.swift
  flutter_inappwebview_macos/macos/Classes/InAppWebView/InAppWebView.swift
  flutter_inappwebview_macos/macos/Classes/InAppWebView/InAppWebViewManager.swift
  flutter_inappwebview_macos/macos/Classes/PluginScriptsJS/FindTextHighlightJS.swift
  flutter_inappwebview_macos/macos/Classes/Types/URLProtectionSpace.swift
  flutter_inappwebview_macos/macos/Classes/Util.swift
  flutter_inappwebview_platform_interface/lib/src/types/console_message.dart
  flutter_inappwebview_platform_interface/lib/src/types/console_message.g.dart
  flutter_inappwebview_web/lib/src/in_app_webview/in_app_webview_controller.dart
Labels: android, flutter/dart, iOS

#1941 Added == operator and hashCode to WebUri
  flutter_inappwebview_platform_interface/lib/src/web_uri.dart
Labels: flutter/dart
